<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="session-selector">
    <select name="session-selector" [(ngModel)]="selectedSession">
        <option *ngFor="let session of sessions" [ngValue]="session">{{session.Title}}</option>
    </select>

</div> -->

<div class="initializing" *ngIf="initializing">
    <em>Loading...</em>
</div>

<ng-container *ngIf="!initializing">
<div class="control-container">
    
    <div>Choose a Session:</div>
    <select [(ngModel)]="selectedSession">
        <option *ngFor="let session of sessions" [ngValue]="session">{{session.Title}}</option>
    </select>

    <div>Total Distance:</div>
    <div>{{totalDistance}}</div>

    <div>Average Speed:</div>
    <div>{{averageSpeed | number:'1.1-2'}}</div>
</div>

<div class="map-control"
     leaflet name="map" id="map"
     [leafletLayers]="layers"
     [leafletOptions]="options"
     [(leafletCenter)]="center"
     >
</div>
<!-- <router-outlet></router-outlet> -->
</ng-container>
